<div class="flex flex-col divide-y divide-secondary h-full justify-between">
    <div class="flex-1 overflow-y-auto p-4 overflow-y-auto scrollbar-thin bg-quaternary" #messagesContainer>
        <div *ngFor="let msg of messages">
          <app-message-box 
            [message]="msg.content" 
            [timestamp]="msg.timestamp"
            [isSent]="msg.sent"
            [status]="msg.status || 'sent'">
          </app-message-box>
        </div>
      </div>
    <app-message-input-box (messageSent)="handleMessageSent($event)"></app-message-input-box>
</div>