.scrollbar-message-box::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-message-box::-webkit-scrollbar-track {
    background: #f1f1f100;
  }
  
  .scrollbar-message-box::-webkit-scrollbar-thumb {
    background: #1e24308a;
  }
  
  .scrollbar-message-box::-webkit-scrollbar-thumb:hover {
    background: #555;
  }  