<aside class="top-0 left-0 h-full w-full text-white transition-transform transform -translate-x-full sm:translate-x-0">
    <app-user-search></app-user-search>
    <div class="overflow-y-auto">
      <div *ngFor="let conversation of conversations">
          <app-conversation-item
              [conversation]="conversation"
              [isActive]="conversation.username === activeConversationUsername"
              (itemClicked)="selectConversation(conversation)"
              (messageReceived)="sortConversations()">
          </app-conversation-item>
      </div>
  </div>
</aside>
