<div 
    class="flex mb-2" 
    [ngClass]="{ 
        'justify-end': isSent, 
        'justify-start': !isSent }">
    <div 
        class="flex flex-col relative max-w-[90%] sm:max-w-[60%] p-4 rounded-lg shadow-md" 
        [ngClass]="{ 
            'bg-tertiary text-white': isSent, 
            'bg-gray-100 text-black': !isSent,
            'rounded-br-none': isSent, 
            'rounded-bl-none': !isSent }">

        <p class="break-words">{{ message }}</p>

        <div class="flex justify-end">
            <span 
            class="text-xs text-white/75">
            {{ timestamp }}
            </span>
        </div>

    </div>
</div>
