<div 
    class="flex mb-2" 
    [ngClass]="{ 
        'justify-end': isSent, 
        'justify-start': !isSent }">
    <div 
        class="flex flex-col relative p-4 rounded-lg shadow-md max-w-[90%] sm:max-w-[60%]" 
        [ngClass]="{ 
            'bg-tertiary text-white': isSent, 
            'bg-gray-100 text-black': !isSent,
            'rounded-br-none': isSent, 
            'rounded-bl-none': !isSent }">

        <p class="break-words">{{ message }}</p>

        <div 
            class="flex" 
            [ngClass]="{ 
                'justify-end': isSent, 
                'justify-start': !isSent }">
            <span 
                class="text-xs" 
                [ngClass]="{
                    'text-white/75': isSent,
                    'text-black/50': !isSent }">
                {{ timestamp }}
            </span>
        </div>

    </div>
</div>